.App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: fantasy;
    font-size: 2rem;
    margin-top: 150px;
    color: rgb(4, 4, 61);
}